/*  your css code here. If applicable */
table{
	background-color:yellow;
	border:1px solid black;
}
th,tr,td{
	border:1px solid black;
}
caption{
	font-weight:bold;
	text-align:center;
	caption-side:top;
}